.contactContainer{
  padding: 100px 0;
  background-color: #212529;
  background-image: url('../img/map-image.png');
  background: {
    repeat: no-repeat;
    position: center;
    size: 100%;
  };
  &__heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: white;
  }
  &__subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    // @include serif-font;
  }
  &__form-group{
    margin-bottom: 25px;
  }
  &__txt-form-control,
  &__txtArea-form-control{
    padding: 20px;
    width: 100%;

  }
  &__txt-form-control{
    height: auto;
    &:focus{
      // background-color: #17a2b8;
      box-shadow: none;
    }
  }
  &__txtArea-form-control{
    resize: none;
  }
}

::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
}

// estilo validaciones form

.help-block{
  color: rgb(199, 53, 53);
  font-weight: bold;
}

.has-success{
  border: 1px solid rgb(13, 143, 13);
  box-shadow: 0 0 4px 2px rgb(31, 199, 31);
}
.has-error{
  border: 1px solid rgb(224, 52, 52);
  box-shadow: 0 0 4px 1px red;
}