// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  &__img {
    width: 225px;
    height: 225px;
    border: 7px solid fade-out(black, 0.9);
  }
  &__title{
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  &__subTitle{
    margin-top: 0;
  }
  &__list{
    margin-bottom: 0;
  }
  &__iconLink{
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
    &:active,
    &:focus,
    &:hover{
     background-color: #17a2b8;
    }
  }

}
