extends include/template
append config 
  -siteName = 'Camaras de seguridad'
prepend styles
  //- link
  link(rel="stylesheet", href="public/css/twentytwenty.css")
block content
  +Header('bannerCam.png')
  section.allCam.mb-5
    h1.text-capitalize.text-center.p-4.bg-drak camaras de seguridad
    +CamaraContainer
  +Footer
append script
  script(src="public/js/imgCompare/jquery.event.move.js")
  script(src="public/js/imgCompare/jquery.twentytwenty.js")
  script(src="public/js/imgCompare/imgComparation.js")
  script(src="public/js/sliderProduct.js")