extends include/template
append config 
  -siteName = 'Camaras V2'
prepend styles
  //- estilo 
block content
  //- se coloca la imagne que ba en el banner y la position
  +Header('fondoCamPan.png')
  +CamPam
  +Footer
append script
  script(src="public/js/imgCompare/jquery.event.move.js")
  script(src="public/js/imgCompare/jquery.twentytwenty.js")
  script(src="public/js/imgCompare/imgComparation.js")
  script(src="public/js/sliderProduct.js")