extends include/template
append config 
  -siteName = 'Camaras V2'
prepend styles
  //- estilo 
block content
  //- se coloca las tres imagen primero va desktop, tablet, mobil, mobilpequexo
  +Header('fondoCamPan.png','fondoCamPanTablet.png','fondoCamPanMobil.png','fondoCamPanMobilPequexo.png')
  +CamPam
  +Footer
append script
  script(src="public/js/imgCompare/jquery.event.move.js")
  script(src="public/js/imgCompare/jquery.twentytwenty.js")
  script(src="public/js/imgCompare/imgComparation.js")
  script(src="public/js/sliderProduct.js")