extends include/template
append config 
  -siteName = 'Camaras V2'
prepend styles
  //- estilo de la comparacion de imagen 
  link(rel="stylesheet", href="public/css/twentytwenty.css")
block content
  //- se coloca las tres imagen primero va desktop, tablet, mobil, mobilpequexo
  +Header('fondoCamV2Black.png','fondoCamV2BlackTablet.png','fondoCamV2BlackMobil.png','fondoCamV2BlackMobilPequexo.png')
  div(style=`background-color: black; color: white`)
    +WyzeCam('black')
  +Footer
append script
  script(src="public/js/imgCompare/jquery.event.move.js")
  script(src="public/js/imgCompare/jquery.twentytwenty.js")
  script(src="public/js/imgCompare/imgComparation.js")
  script(src="public/js/sliderProduct.js")