extends include/template

append config
  -siteName= 'Catalogo';
prepend styles
  //- van los link
block content
  +Header('banneriglesia.jpg')
  section.showContainer.mb-5
    h1.text-center.showContainer__title Tienda
    .container
      .row
        .col-lg-3.col-md-5.col-12
          .showContainer__search.mb-3
            nav(class="navbar navbar-dark bg-dark")
              a(class="navbar-brand text-capitalize" href="#") buscar por
              button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-2").d-md-none #[span.fa.fa-ellipsis-v]
              .collapse.navbar-collapse#navbar-2.d-md-block
                +AccordionSearchProduct
        .col-lg-9.col-md-7.col-12
          .products-list.row.row-cols-1.row-cols-sm-2.row-cols-md-2.row-cols-lg-3
            //-card pide el nombre, precio,url,categoria por nombre y la ultima la categoria por estilo
            +CardProduct('Cam-white/wyze_cam_front_2.jpg','wyze cam','29.91','#','camara')  
            +CardProduct('cam-pam/pan_front.jpg','wyze cam pam','59.00','#','camara')  
            +CardProduct('sensor/wyze-sense-contact-sensor-spec1.png','sensores','30.25','#','sensore')  
            +CardProduct('enchufe/nav-plug.jpg','enchufe inteligente','08.10','#','enchufe')
            +CardProduct('cam-black.png','cam v2 black','29.91','#','camara')
            +CardProduct('sdCard32.png','memoria SD 32G','09.91','#','accesorio')
            +CardProduct('bujia.png','bombios 12v','09.01','#','bombio')  
block script
  script(src="public/js/searchCatalogo.js")