extends include/template

append config
  -siteName= 'Catalogo';
prepend styles
  //- van los link
block content
  //- se coloca las tres imagen primero va desktop, tablet, mobil, mobilpequexo
  +Header('fondoCatalogo.png','fondoCatalogoTablet.png','fondoCatalogoMobil.png','fodoCatalogoMobilpequexo.png')
  section.showContainer.mb-5
    h1.text-center.text-capitalize.showContainer__title productos 
    .container
      .row
        .col-lg-3.col-md-5.col-12
          .showContainer__search.mb-3
            nav(class="navbar navbar-dark bg-dark")
              a(class="navbar-brand text-capitalize" href="#") buscar por
              button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-2").d-md-none #[span.fas.fa-angle-down]
              .collapse.navbar-collapse#navbar-2.d-md-block
                +AccordionSearchProduct
        .col-lg-9.col-md-7.col-12
          .products-list.row.row-cols-1.row-cols-sm-2.row-cols-md-2.row-cols-lg-3
            +CardProduct
          +ModalProduct
  +Footer
block script
  script(src="public/js/searchCatalogo.js")