extends include/template

append config
  -siteName= 'Catalogo';
prepend styles
  //- van los link
block content
  +Header
  section.showContainer.mb-5
    h1.text-center.showContainer__title Tienda
    .container
      .row
        .col-lg-3.col-md-5.col-12
          .showContainer__search.mb-3
            nav(class="navbar navbar-dark bg-dark")
              a(class="navbar-brand text-capitalize" href="#") buscar por
              button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-2").d-md-none #[span.fa.fa-ellipsis-v]
              .collapse.navbar-collapse#navbar-2.d-md-block
                +AccordionSearchProduct
        .col-lg-9.col-md-7.col-12
          .products-list.row.row-cols-1.row-cols-sm-2.row-cols-md-2.row-cols-lg-3
            //-card pide el nombre, precio,url,categoria por nombre y la ultima la categoria por estilo
            +CardProduct('camara 90','29.91','#','camara','camara90')
            +CardProduct('camara 360','59.00','#','camara','camara360')
            +CardProduct('sensores','09.91','#','sensore','sensore1')
            +CardProduct('sensores dual','30.25','#','sensore','sensore2')
            +CardProduct('bombios 12v','09.01','#','bombio','bombio12v')
            +CardProduct('bombio 6v','4.43','#','bombio','bombio6v')
            +CardProduct('cable dual 10mtr','15.91','#','accesorio','cables')
            +CardProduct('cable luz 50mtr','30.00','#','accesorio','cable')
            +CardProduct('enchufe inteligente','08.10','#','enchufe','cable')
            +CardProduct('enchufe inteligente 4Und','38.10','#','enchufe','cable')
            +CardProduct('enchufe inteligente 2Und','18.00','#','enchufe','cable')
block script
  script(src="public/js/searchCatalogo.js")