extends include/template

append config
  -siteName='Home'
prepend styles
  //-  link de estilo
  link(rel="stylesheet", href="public/css/twentytwenty.css")
block content
  +Header('banneriglesia.jpg')
  section.sectionContainer.mb-5
    .container
      .row.mt-4
        .sectionContainer__img.col-lg-6.col-md-6.col-sm-12
          +Slider('cam-pam/pan_left_2.jpg','cam-white/wyze_cam_front.jpg','sensor/wyze-sense_1.jpg','bujia.png','enchufe/enchufe.png')
        .sectionContainer__description.col-lg-6.col-md-6.col-sm-12.align-self-center
          .container.mt-5
            h1.text-capitalize Tecnología avanzada para tus necesidades.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .container.d-flex.justify-content-end
              a(href="catalogo.html").btn.btn-outline-info.mt-4 Catalogo
  section.text-center.p-3.mb-5.bg-info
    h2.text-white.font-italic "No hagas planes, crea opciones." 
    h4.text-dark Y eso es lo que te ofrecemos para una mejor seguridad en tu hogar o trabajo.
  section.container.mb-5
    .row  
      //- primero se ingresa la imagen, luego el nombre, el precio, idModal, categoria
      .col-lg-3.col-md-6.col-xs-12
        +CardProduct('cam-white/wyze_cam_front_2.jpg','wyze cam','29.91','#wyzeCam','camara')  
      .col-lg-3.col-md-6.col-xs-12
        +CardProduct('cam-pam/pan_front.jpg','wyze cam pam','59.00','#wyzeCamPam','camara')  
      .col-lg-3.col-md-6.col-xs-12
        +CardProduct('enchufe/enchufe.png','enchufe inteligente','08.10','#enchufe','enchufe')
      .col-lg-3.col-md-6.col-xs-12
        +CardProduct('bujia.png','bombillo inteligente','09.01','#bombillo','bombillo') 
    +ModalProduct
    .container.d-flex.justify-content-center
      a.btn.btn-outline-info.text-capitalize(type="button" href="catalogo.html") ver mas
  section.teamContainer.bg-light.page-section.pt-5.pb-5
    .container
      .row
        .col-lg-12.text-center
          h2.text-capitalize nuestro equipo de trabajo
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .container.sliderTeamContainer.mt-4
        //- se inserta de la siguiente manera:
        //- nombre y apellido, titulo o cargo, foto, redes ya sea facebook
        //-  whatsapp y para gmail es envelope y despues de cada red ingrese los datos
        +SliderTeam('yader mendoza','ing. sistema','2.jpg','facebook','www.faceebook/yader','whatsapp','+505 8326-1118','envelope','ejemplo@gmail.com')
        +SliderTeam('taislani mendoza','vendedora','1.jpg','facebook','www.faceebook/yader','whatsapp','+505 8326-1118','envelope','ejemplo@gmail.com')
        +SliderTeam('jonathan zamora','ing. electronico','2.jpg','facebook','www.faceebook/yader','whatsapp','+505 8326-1118','envelope','ejemplo@gmail.com')
        +SliderTeam('kaome sunade','vendedora','3.jpg','facebook','www.faceebook/yader','whatsapp','+505 8326-1118','envelope','ejemplo@gmail.com')
  +Footer
append script
  script(src="public/js/imgCompare/jquery.event.move.js")
  script(src="public/js/imgCompare/jquery.twentytwenty.js")
  script(src="public/js/imgCompare/imgComparation.js")
  script(src="public/js/sliderProduct.js")
  script(src="public/js/loader.js")