@charset "UTF-8";
/* line 2, dev/sass/style.css */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 9, dev/sass/style.css */
.body-container {
  overflow-x: hidden;
}

/* line 12, dev/sass/style.css */
.eje {
  border: 2px solid red;
}

/* line 15, dev/sass/style.css */
.paragraphContent {
  width: 80%;
}

/* line 18, dev/sass/style.css */
.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators li {
  background-color: #3c4043 !important;
}

/* line 23, dev/sass/style.css */
.tabs-link {
  color: #495057;
}

/* line 25, dev/sass/style.css */
.tabs-link:hover {
  color: yellowgreen;
}

/* line 28, dev/sass/style.css */
.nav-tabs .nav-link.active {
  color: white;
  background-color: #495057;
}

/* line 32, dev/sass/style.css */
.tabsBorder {
  border: .5px solid #dee2e6;
}

/* line 35, dev/sass/style.css */
.treeContainer {
  position: relative;
  padding: 0;
  list-style: none;
}

/* line 39, dev/sass/style.css */
.treeContainer::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: gray;
}

/* line 48, dev/sass/style.css */
.treeContainer__items {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

/* line 52, dev/sass/style.css */
.treeContainer__items::after, .treeContainer__items::before {
  display: table;
  content: ' ';
}

/* line 55, dev/sass/style.css */
.treeContainer__items::after {
  clear: both;
}

/* line 57, dev/sass/style.css */
.treeContainer__items:last-child {
  margin-bottom: 0;
}

/* line 59, dev/sass/style.css */
.treeContainer__panel-left {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

/* line 65, dev/sass/style.css */
.treeContainer__panel-left::before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

/* line 70, dev/sass/style.css */
.treeContainer__panel-left::after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

/* line 75, dev/sass/style.css */
.treeContainer__panel-right {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

/* line 79, dev/sass/style.css */
.treeContainer__panel-right::before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

/* line 84, dev/sass/style.css */
.treeContainer__panel-right::after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

/* line 89, dev/sass/style.css */
.treeContainer__image {
  position: absolute;
  z-index: 9;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid gray;
  border-radius: 100%;
  background-color: #3c4043;
}

/* line 101, dev/sass/style.css */
.treeContainer__title {
  margin-top: 0;
  font-weight: bold;
  text-transform: capitalize;
}

/* line 105, dev/sass/style.css */
.treeContainer__subTitle {
  text-transform: none;
  text-transform: capitalize;
}

/* line 108, dev/sass/style.css */
.treeContainer__titleEnd {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

@media (min-width: 768px) {
  /* line 114, dev/sass/style.css */
  .treeContainer::before {
    left: 50%;
  }
  /* line 116, dev/sass/style.css */
  .treeContainer__items {
    min-height: 100px;
  }
  /* line 118, dev/sass/style.css */
  .treeContainer__panel-left {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  /* line 123, dev/sass/style.css */
  .treeContainer__panel-right {
    float: right;
    width: 41%;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
  /* line 128, dev/sass/style.css */
  .treeContainer__image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  /* line 133, dev/sass/style.css */
  .treeContainer__titleEnd {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
}

@media (min-width: 992px) {
  /* line 139, dev/sass/style.css */
  .treeContainer__items {
    min-height: 150px;
  }
  /* line 141, dev/sass/style.css */
  .treeContainer__panel-left, .treeContainer__panel-right {
    padding: 0 20px 20px;
  }
  /* line 143, dev/sass/style.css */
  .treeContainer__image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  /* line 147, dev/sass/style.css */
  .treeContainer__titleEnd {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  /* line 153, dev/sass/style.css */
  .treeContainer__items {
    min-height: 170px;
  }
  /* line 155, dev/sass/style.css */
  .treeContainer__panel-left {
    padding: 0 20px 20px 100px;
  }
  /* line 157, dev/sass/style.css */
  .treeContainer__panel-right {
    padding: 0 100px 20px 20px;
  }
  /* line 159, dev/sass/style.css */
  .treeContainer__image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  /* line 163, dev/sass/style.css */
  .treeContainer__titleEnd {
    margin-top: 40px;
  }
}

/* line 166, dev/sass/style.css */
.itemsMenu__items {
  padding-bottom: 5px;
  background-image: linear-gradient(#7bb801, #7bb801);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

/* line 173, dev/sass/style.css */
.itemsMenu__items:hover {
  background-size: 90% 2px;
}

/* line 176, dev/sass/style.css */
.itemsMenu__dropdown:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/* line 180, dev/sass/style.css */
.headerContainer__banner {
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
}

/* line 187, dev/sass/style.css */
.headerContainer__backgroundContainer {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

/* line 192, dev/sass/style.css */
.headerContainer__img {
  width: 35%;
  left: 100px;
  bottom: 50px;
}

/* line 197, dev/sass/style.css */
.headerContainer__imgLogo-title {
  width: 200px;
}

/* line 200, dev/sass/style.css */
.headerContainer__navContainer {
  background-color: #343a40;
}

/* line 203, dev/sass/style.css */
.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}

/* line 210, dev/sass/style.css */
.visibleLogo {
  display: none;
}

/* line 213, dev/sass/style.css */
.visible-logo-title {
  display: block;
}

/* line 216, dev/sass/style.css */
.footerContainer__title {
  padding-bottom: 5px;
  background-image: linear-gradient(#aba7a3, #808080);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 25% 3px;
}

/* line 223, dev/sass/style.css */
.footerContainer__link {
  padding-bottom: 5px;
  background-image: linear-gradient(#7bb801, #808080);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size .3s;
}

/* line 230, dev/sass/style.css */
.footerContainer__link:hover {
  background-size: 80% 3px;
}

/* Slider */
/* line 234, dev/sass/style.css */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 248, dev/sass/style.css */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

/* line 254, dev/sass/style.css */
.slick-list:focus {
  outline: none;
}

/* line 256, dev/sass/style.css */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 260, dev/sass/style.css */
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

/* line 268, dev/sass/style.css */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 275, dev/sass/style.css */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

/* line 278, dev/sass/style.css */
.slick-track:after {
  clear: both;
}

/* line 280, dev/sass/style.css */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 283, dev/sass/style.css */
.slick-slide {
  float: left;
  min-height: 1px;
  display: none;
}

/* line 287, dev/sass/style.css */
[dir="rtl"] .slick-slide {
  float: right;
}

/* line 289, dev/sass/style.css */
.slick-slide img {
  display: block;
}

/* line 291, dev/sass/style.css */
.slick-slide.slick-loading img {
  display: none;
}

/* line 293, dev/sass/style.css */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 295, dev/sass/style.css */
.slick-initialized .slick-slide {
  display: block;
}

/* line 297, dev/sass/style.css */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 299, dev/sass/style.css */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 304, dev/sass/style.css */
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* line 308, dev/sass/style.css */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
/* line 320, dev/sass/style.css */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 1rem;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  transition: all .3s ease-in-out;
}

/* line 337, dev/sass/style.css */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

/* line 343, dev/sass/style.css */
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
  color: #17a2b8;
}

/* line 348, dev/sass/style.css */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

/* line 351, dev/sass/style.css */
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 50px;
  line-height: 1;
  color: #212529;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 361, dev/sass/style.css */
.slick-prev {
  left: -2px;
  z-index: 9;
}

/* line 364, dev/sass/style.css */
[dir="rtl"] .slick-prev {
  left: auto;
  right: -2px;
}

/* line 367, dev/sass/style.css */
.slick-prev:before {
  content: "❰";
}

/* line 369, dev/sass/style.css */
[dir="rtl"] .slick-prev:before {
  content: "❱";
}

/* line 372, dev/sass/style.css */
.slick-next {
  right: 20px;
}

/* line 374, dev/sass/style.css */
[dir="rtl"] .slick-next {
  left: 20px;
  right: auto;
}

/* line 377, dev/sass/style.css */
.slick-next:before {
  content: "❱";
}

/* line 379, dev/sass/style.css */
[dir="rtl"] .slick-next:before {
  content: "❰";
}

/* Dots */
/* line 383, dev/sass/style.css */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

/* line 386, dev/sass/style.css */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 395, dev/sass/style.css */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

/* line 403, dev/sass/style.css */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

/* line 415, dev/sass/style.css */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

/* line 417, dev/sass/style.css */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

/* line 419, dev/sass/style.css */
.slick-dots li button:before {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 9;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 4rem;
  line-height: 20px;
  text-align: center;
  color: #17a2b8;
  opacity: 0.25;
}

/* line 433, dev/sass/style.css */
.slick-dots li.slick-active button:before {
  color: #17a2b8;
  opacity: 0.75;
}

/* line 437, dev/sass/style.css */
.scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  background-color: #343a40;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: all .3s ease-in;
}

/* line 448, dev/sass/style.css */
.scroll-top:hover {
  background-color: #808080;
}

/* line 450, dev/sass/style.css */
.scroll-top:hover .scroll-top__img {
  color: #7bb801;
}

/* line 452, dev/sass/style.css */
.scroll-top__img {
  font-size: 20px;
  color: white;
}

/* line 456, dev/sass/style.css */
.team-member {
  margin-bottom: 50px;
  text-align: center;
}

/* line 459, dev/sass/style.css */
.team-member__img {
  width: 225px;
  height: 225px;
  border: 7px solid rgba(0, 0, 0, 0.1);
}

/* line 463, dev/sass/style.css */
.team-member__title {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

/* line 467, dev/sass/style.css */
.team-member__subTitle {
  margin-top: 0;
}

/* line 469, dev/sass/style.css */
.team-member__list {
  margin-bottom: 0;
}

/* line 471, dev/sass/style.css */
.team-member__iconLink {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

/* line 482, dev/sass/style.css */
.team-member__iconLink:active, .team-member__iconLink:focus, .team-member__iconLink:hover {
  background-color: #17a2b8;
}

/* line 485, dev/sass/style.css */
.category_list .ct_item-active {
  background: #2D3E50;
  color: white;
}

/* line 489, dev/sass/style.css */
.contactContainer {
  padding: 100px 0;
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* line 496, dev/sass/style.css */
.contactContainer__heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  color: white;
}

/* line 501, dev/sass/style.css */
.contactContainer__subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
}

/* line 507, dev/sass/style.css */
.contactContainer__form-group {
  margin-bottom: 25px;
}

/* line 509, dev/sass/style.css */
.contactContainer__txt-form-control, .contactContainer__txtArea-form-control {
  padding: 20px;
  width: 100%;
}

/* line 512, dev/sass/style.css */
.contactContainer__txt-form-control {
  height: auto;
}

/* line 514, dev/sass/style.css */
.contactContainer__txt-form-control:focus {
  box-shadow: none;
}

/* line 516, dev/sass/style.css */
.contactContainer__txtArea-form-control {
  resize: none;
}

/* line 519, dev/sass/style.css */
::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
}

/* line 523, dev/sass/style.css */
.help-block {
  color: #c73535;
  font-weight: bold;
}

/* line 527, dev/sass/style.css */
.has-success {
  border: 1px solid #0d8f0d;
  box-shadow: 0 0 4px 2px #1fc71f;
}

/* line 531, dev/sass/style.css */
.has-error {
  border: 1px solid #e03434;
  box-shadow: 0 0 4px 1px red;
}

/* line 535, dev/sass/style.css */
#input-search {
  width: 220px;
  height: 40px;
  text-indent: 10px;
}

/* line 540, dev/sass/style.css */
.content-search {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 505px;
  display: none;
  z-index: 99;
}

/* line 548, dev/sass/style.css */
.position-search-table {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 56px;
  display: none;
  z-index: 99;
}

/* line 556, dev/sass/style.css */
.content-table {
  width: 30%;
  max-height: 200px;
  height: auto;
  background-color: #343a40;
  margin-left: 5px;
  overflow-y: visible;
  overflow-x: hidden;
}

/* line 565, dev/sass/style.css */
.content-table table {
  width: 100%;
}

/* line 568, dev/sass/style.css */
.content-items {
  transition: all .3s ease-in-out;
}

/* line 570, dev/sass/style.css */
.content-items:hover {
  background-color: rgba(5, 183, 211, 0.3);
}

/* line 572, dev/sass/style.css */
.content-items:hover .content-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* line 577, dev/sass/style.css */
.content-link,
.dataTables_empty {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

/* line 584, dev/sass/style.css */
#table_length,
#table_filter,
#table_info,
#table_paginate {
  display: none;
}

/* line 590, dev/sass/style.css */
.showContainer__title {
  padding: 30px 0;
  background-color: #aba7a3;
  color: white;
  margin-bottom: 1rem;
}

/* line 596, dev/sass/style.css */
.product-item {
  transition: all .4s;
}

/* line 599, dev/sass/style.css */
.senseMovimiento {
  background-height: 600px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

/* line 605, dev/sass/style.css */
.backgroundCamPam {
  height: 600px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

@media (max-width: 1199px) {
  /* line 612, dev/sass/style.css */
  .headerContainer__imgLogo-title {
    width: 170px;
  }
}

@media (max-width: 991px) {
  /* line 616, dev/sass/style.css */
  .visibleLogo {
    display: block;
  }
  /* line 618, dev/sass/style.css */
  .headerContainer__navContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  /* line 623, dev/sass/style.css */
  .headerContainer__logoBanner {
    left: 20px;
    bottom: 20px;
  }
  /* line 626, dev/sass/style.css */
  .content-search {
    top: 299px;
  }
  /* line 628, dev/sass/style.css */
  .position-search-table {
    top: 312px;
  }
  /* line 630, dev/sass/style.css */
  .content-table {
    width: 80%;
  }
  /* line 632, dev/sass/style.css */
  .contactContainer {
    padding: 50px 0;
  }
  /* line 634, dev/sass/style.css */
  .contactContainer__subheading {
    margin-bottom: 40px;
  }
  /* line 636, dev/sass/style.css */
  .footerContainer__title {
    text-align: center;
    padding-bottom: 10px;
    background-size: 100% 3px;
  }
}

@media (max-width: 767px) {
  /* line 642, dev/sass/style.css */
  .paragraphContent {
    width: 100%;
    background-image: url("public/img/enchufe/fondoColor");
  }
}
