/* line 1, dev/sass/twentytwenty.css */
.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: white;
  position: absolute;
  z-index: 30;
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
}

/* line 11, dev/sass/twentytwenty.css */
.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px;
}

/* line 17, dev/sass/twentytwenty.css */
.twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  width: 9999px;
  height: 3px;
  top: 50%;
  margin-top: -1.5px;
}

/* line 23, dev/sass/twentytwenty.css */
.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 29, dev/sass/twentytwenty.css */
.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  transition-duration: 0.5s;
}

/* line 34, dev/sass/twentytwenty.css */
.twentytwenty-before-label, .twentytwenty-after-label {
  transition-property: opacity;
}

/* line 39, dev/sass/twentytwenty.css */
.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em;
}

/* line 44, dev/sass/twentytwenty.css */
.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  border-radius: 2px;
}

/* line 53, dev/sass/twentytwenty.css */
.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px;
}

/* line 57, dev/sass/twentytwenty.css */
.twentytwenty-vertical .twentytwenty-before-label:before, .twentytwenty-vertical .twentytwenty-after-label:before {
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px;
}

/* line 63, dev/sass/twentytwenty.css */
.twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
}

/* line 69, dev/sass/twentytwenty.css */
.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  top: 50%;
  margin-top: -6px;
}

/* line 73, dev/sass/twentytwenty.css */
.twentytwenty-up-arrow, .twentytwenty-down-arrow {
  left: 50%;
  margin-left: -6px;
}

/* line 77, dev/sass/twentytwenty.css */
.twentytwenty-container {
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* line 88, dev/sass/twentytwenty.css */
.twentytwenty-container img {
  max-width: 100%;
  position: absolute;
  top: 0;
  display: block;
}

/* line 94, dev/sass/twentytwenty.css */
.twentytwenty-container.active .twentytwenty-overlay, .twentytwenty-container.active :hover.twentytwenty-overlay {
  background: rgba(0, 0, 0, 0);
}

/* line 97, dev/sass/twentytwenty.css */
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label, .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
  opacity: 0;
}

/* line 102, dev/sass/twentytwenty.css */
.twentytwenty-container * {
  box-sizing: content-box;
}

/* line 107, dev/sass/twentytwenty.css */
.twentytwenty-before-label {
  opacity: 0;
}

/* line 110, dev/sass/twentytwenty.css */
.twentytwenty-before-label:before {
  content: attr(data-content);
}

/* line 113, dev/sass/twentytwenty.css */
.twentytwenty-after-label {
  opacity: 0;
}

/* line 116, dev/sass/twentytwenty.css */
.twentytwenty-after-label:before {
  content: attr(data-content);
}

/* line 119, dev/sass/twentytwenty.css */
.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px;
}

/* line 122, dev/sass/twentytwenty.css */
.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px;
}

/* line 125, dev/sass/twentytwenty.css */
.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 10px;
}

/* line 128, dev/sass/twentytwenty.css */
.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 10px;
}

/* line 131, dev/sass/twentytwenty.css */
.twentytwenty-overlay {
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25;
}

/* line 136, dev/sass/twentytwenty.css */
.twentytwenty-overlay:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* line 139, dev/sass/twentytwenty.css */
.twentytwenty-overlay:hover .twentytwenty-after-label {
  opacity: 1;
}

/* line 142, dev/sass/twentytwenty.css */
.twentytwenty-overlay:hover .twentytwenty-before-label {
  opacity: 1;
}

/* line 145, dev/sass/twentytwenty.css */
.twentytwenty-before {
  z-index: 20;
}

/* line 148, dev/sass/twentytwenty.css */
.twentytwenty-after {
  z-index: 10;
}

/* line 151, dev/sass/twentytwenty.css */
.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  border-radius: 1000px;
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer;
}

/* line 169, dev/sass/twentytwenty.css */
.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

/* line 176, dev/sass/twentytwenty.css */
.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

/* line 183, dev/sass/twentytwenty.css */
.twentytwenty-vertical .twentytwenty-handle:before {
  left: 50%;
  margin-left: 22px;
  box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

/* line 190, dev/sass/twentytwenty.css */
.twentytwenty-vertical .twentytwenty-handle:after {
  right: 50%;
  margin-right: 22px;
  box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

/* line 197, dev/sass/twentytwenty.css */
.twentytwenty-left-arrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px;
}

/* line 202, dev/sass/twentytwenty.css */
.twentytwenty-right-arrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px;
}

/* line 207, dev/sass/twentytwenty.css */
.twentytwenty-up-arrow {
  border-bottom: 6px solid white;
  top: 50%;
  margin-top: -17px;
}

/* line 212, dev/sass/twentytwenty.css */
.twentytwenty-down-arrow {
  border-top: 6px solid white;
  bottom: 50%;
  margin-bottom: -17px;
}
