//-para agregar otro producto es:
  //- primero la direccion de la imagen a partir de la carpeta img adelante,
  //- luego es el nombre del producto, el precio, el id, y ultimo la categoria.
  //- Tipos de categoria: camara, sensore,bombillo,enchufe,accesorio.
  
-const dataCardProduct = [['cam-white/wyze_cam_front_2.jpg','camara inteligente v2','29.91','#wyzeCam','camara'],['cam-pam/pan_front.jpg','camara inteligente pan','59.00','#wyzeCamPam','camara'],['bujia.png','bombillo inteligente','09.01','#bombillo','bombillo'],['enchufe/enchufe.png','enchufes inteligentes','08.10','#enchufe','enchufe'],['sensor/wyze-sense-contact-sensor-spec1.png','sensor de contacto','30.25','#senseContact','sensore'],['cam-black/cam-black.png','camara inteligente v2. (negro)','29.91','#wyzeCamBlack','camara'],['sensor/wyze-sense-motion-sensor1.png','sensor de movimiento','31.00','#senseMovimiento','sensore'],['accesorios/memoria-sd.png','memorias SD 32-128G','09.91','#memoriaSD','accesorio'],['accesorios/broadLink.png','Broadlink RM Pro Automation','30.20','#ctrlBroadLink','accesorio'],['accesorios/sonoff.png','SONOFF TH16 Sensor de humedad','24.99','#sonoff','accesorio'],['accesorios/disyuntoresCircuito.png','Disyuntores de circuito inteligente','65.00','#disyuntores','accesorio']]

//- para agregar un personal de la empresa 
//- se inserta de la siguiente manera:
//- nombre y apellido, titulo o cargo, foto, redes oficales, usuario rede sociales
//- tipo de redes sociales: facebook, whatsapp y gmail en correo ponemos envelope 
//- para que ingres el icono de correo 
-const dataTeamWork = [['yader mendoza','ing. sistema','2.jpg','facebook','www.faceebook/yader','whatsapp','+505 8326-1118','envelope','ejemplo@gmail.com'],['taislani mendoza','vendedora','1.jpg','whatsapp','+505 8326-1118','envelope','ejemplo@gmail.com','facebook','facebook/tais'],['jonathan zamora','ing. electronico','2.jpg','envelope','ejemplo@gmail.com','whatsapp','+505 8282-1234','facebook','facebook/jomo'],['kaome sunade','vendedora','3.jpg','facebook','www.faceebook/yader','envelope','kaome@gamil.com','whatsapp','+505 6753-1232'],['gaudy boniche','vendedora','1.jpg','whatsapp','+505 8416-1496','facebook','facebook/gaudy','envelope','gau@gmail.com']]