- let siteName = ' '
- let pageTitle = 'Smart'
- let currentPage=' '
- let metaDescription = 'Smart Technology el mejor distribudor de productos inteligentes, con la mejor calidad. Y la asesoria en sistemas fotovoltaico'