block config 
  include config
//- llamamos los array 
include arraysData
include ../components/scroll-top
include ../components/tree/branchesContainer
include ../components/items
include ../components/itemsDropdown
include ../components/menu
include ../components/buscar
include ../components/header
//-modal products
include ../components/modal/modalCam
include ../components/modal/modalCamPam
include ../components/modal/modalSenseContact
include ../components/modal/modalSenseMovimiento
include ../components/modal/modalBombillo
include ../components/modal/modalEnchufe
include ../components/modal/modalSD
//-modal principal
include ../components/modalProduct

include ../components/slider
include ../components/cardProduct
include ../components/sliderTeam
include ../components/sliderProduct
include ../components/contact
include ../components/footer
include ../components/pagination
include ../components/accordionSearchProduct
include ../components/wyzeCam
include ../components/wyzeCamPan
include ../components/senseContact
include ../components/senseMovimiento


doctype html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  meta(name="description" content= metaDescription)
  title= `${pageTitle} - ${siteName}`
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")
  link(rel="stylesheet", href="public/css/style.css")
  block styles
body.body-container
  +ScrollTop
  block content

script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous") 
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
//- slider con la libreria slick
script(src="public/js/slick.min.js") 
script(src="public/js/sliderCardTeam.js")
//- script de bootstrap
script(src="public/js/popovers.js") 
script(src="public/js/scrollMenu.js")
script(src="public/js/scrollTop.js")
//- script del buscador del header
script(src="public/js/buscar/jquery.dataTables.min.js")
script(src="public/js/buscar/buscador.js")
//- validacion de form
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js")
script(src="public/js/validarForm.js")
block script
