mixin array
  -var dataCardNotice = [["carlos","21","masaya"],["aldo","22","ticuantepe"],["yader","22","managua"]]
  each itemCard in dataCardNotice 
    .container
      h1 #{itemCard[0]}
      span #{itemCard[1]} 
      span #{itemCard[2]} 
