mixin Search
  form.form-inline.my-2.my-lg-0
    input.form-control.mr-sm-2(type='search' placeholder='Buscar aqui' aria-label='Search' autocomplete="off" id="input-search")
    .content-search
      .content-table
        table#table
          thead
            tr
              td
          tbody
            tr
              td.content-items
                a(href="catalogo.html").content-link.text-capitalize catalogo
            tr
              td.content-items
                a(href="camaras.html").content-link.text-capitalize camara cam v2
            tr
              td.content-items
                a(href="camaras.html").content-link.text-capitalize camaras de seguridad
            tr
              td.content-items
                a(href="sensores.html").content-link.text-capitalize sensores
            tr
              td.content-items
                a(href="enchufes.html").content-link.text-capitalize enchufe inteligentes
            tr
              td.content-items
                a(href="camaras.html").content-link.text-capitalize camara cam v2 black
            tr
              td.content-items
                a(href="camaras.html").content-link.text-capitalize camara cam pam
            tr
              td.content-items
                a(href="bombillo.html").content-link.text-capitalize bombillos inteligentes
            tr
              td.content-items
                a(href="enchufes.html").content-link.text-capitalize tomacorrientes
            
            