mixin Contact
  .contactContainer#contact
    .container
      .row
        .col-lg-12.text-center
          h2.contactContainer__heading.text-uppercase.display-4 contactenos
          h3.contactContainer__subheading.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      .row
        .col-lg-12
          form(id="contactForm"  autocomplete="off") 
            .row
              .col-md-6
                .contactContainer__form-group.form-group
                  input(class="contactContainer__txt-form-control form-control" name="name" type="text" placeholder="Your Name *")
                  p.help-block.error
                .contactContainer__form-group.form-group
                  input(class="contactContainer__txt-form-control form-control" name="email" type="text" placeholder="Your Email *")
                  p.help-block.error
                .contactContainer__form-group.form-group
                  input(class="contactContainer__txt-form-control form-control" name="phone" type="tel" placeholder="Your Phone *" )
                  p.help-block.error
              .col-md-6
                .contactContainer__form-group.form-group
                  textarea(class="form-control contactContainer__txtArea-form-control" name="message" placeholder="Your Message *" rows="8" )
                  p.help-block.error
              .d-flex.justify-content-center.w-100  
                .col-lg-12.text-center
                  #success
                  button(class="btn btn-primary btn-lg text-uppercase p-3" type="submit") Enviar Mensaje