mixin Footer  
  +Contact
  footer.footerContainer
    .footerContainer__body.pt-4.pb-4(style="background-color:#343a40;")
      .container
        .row
          .col-md-4.col-12
            h4.footerContainer__title.mb-3.text-white.text-uppercase.font-weight-bold smart technology
            p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .col-md-4.col-12
            h4.footerContainer__title.mb-3.text-capitalize.font-weight-bold.text-white productos
            .row
              .col-6.text-center
                p: a(href="#").footerContainer__link.text-capitalize.text-decoration-none.text-white producto-1
                p: a(href="#").footerContainer__link.text-capitalize.text-decoration-none.text-white producto-2
              .col-6.text-center  
                p: a(href="#").footerContainer__link.text-capitalize.text-decoration-none.text-white producto-3
                p: a(href="#").footerContainer__link.text-capitalize.text-decoration-none.text-white producto-4
          .col-md-4.col-12
            h4.footerContainer__title.mb-3.text-white.text-uppercase.font-weight-bold contacto
            p.text-white #[i.mr-3.fas.fa-home] Galleria santo domingo segunda planta
            p.text-white #[i.fas.fa-envelope.mr-3] smarttechnology@gmail.com
            p.text-white #[i.fab.fa-facebook-f.mr-3] www.facebook.com/smarttechnologyni/
            p.text-white #[i.fas.fa-phone.mr-3] +505 8418 1496
            p.text-white #[i.fab.fa-whatsapp.mr-3] +505 8326 1118
    .footerContainer__footer.p-4(style="background-color:#f8f9fa;")
      .container.text-center  
        p
        | &copy; 2020 |
        i.fa.fa-value(aria-hidden='true') &nbsp;
        a(href='#').text-capitalize.text-decoration-none.text-dark.font-weight-bold smart technology | soluciones inteligentes