mixin Footer  
  +Contact
  footer.footerContainer
    .footerContainer__body.pt-4.pb-4(style="background-color:#343a40;")
      .container
        .row
          .col-md-4.col-12
            h4.footerContainer__title.mb-3.text-white.text-uppercase.font-weight-bold smart technology
            p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .col-md-4.col-12
            h4.footerContainer__title.mb-3.text-capitalize.font-weight-bold.text-white productos
            .row
              .col-12.pl-3
                p: a(href="camaras.html").footerContainer__link.text-capitalize.text-decoration-none.text-white camaras de seguridad
                p: a(href="enchufes.html").footerContainer__link.text-capitalize.text-decoration-none.text-white enchufe inteligente
                p: a(href="sensores.html").footerContainer__link.text-capitalize.text-decoration-none.text-white sensores
                p: a(href="#").footerContainer__link.text-capitalize.text-decoration-none.text-white accesorios
          .col-md-4.col-12
            h4.footerContainer__title.mb-3.text-white.text-uppercase.font-weight-bold contacto
            .media
              i.mr-3.fas.fa-home.text-white
              .media-body
                p.text-white Entrada de Villa Austria 1/2C. al norte casa M-12
            .media
              i.fas.fa-envelope.mr-3.text-white
              .media-body
                p.text-white smarttechnology@gmail.com
            .media
              i.fab.fa-facebook-f.mr-3.text-white
              .media-body
                p.text-white www.facebook.com/smarttechnologyni/
            .media
              i.fas.fa-phone.mr-3.text-white.text-center
              .media-body
                p.text-white 
                  | +505 8418 1496 
                  br
                  | +505 2222 2222
            .media
              i.fab.fa-whatsapp.mr-3.text-white
              .media-body
                p.text-white +505 8326 1118
    .footerContainer__footer.p-4(style="background-color:#f8f9fa;")
      .container.text-center  
        p
        | &copy; 2020 |
        i.fa.fa-value(aria-hidden='true') &nbsp;
        a(href='#').text-capitalize.text-decoration-none.text-dark.font-weight-bold smart technology | soluciones inteligentes