mixin Header(image,image1,image2,image3)
  .d-none.d-lg-block
    +Menu(image)
  .d-none.d-md-block.d-lg-none
    +Menu(image1)
  .d-none.d-sm-block.d-md-none.d-lg-none
    +Menu(image2)
  .d-block.d-sm-none.d-md-none.d-lg-none
    +Menu(image3)