mixin Header
  header.headerContainer
    .headerContainer__banner.position-relative
      .headerContainer__backgroundContainer.position-absolute
        img.headerContainer__img.position-absolute.d-none.d-lg-block(src="public/img/logo-smart.png", alt="")
    .headerContainer__navContainer 
      //-  se le agrega una clase para ver el logo title visible al momento que se
      //- hace scroll hacia abajo.
      +Menu('visibleLogo')