mixin ItemsDropdown
  li.nav-item.dropdown 
    a.text-capitalize(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").nav-link.dropdown-toggle#navbarDropdown Productos
    div(class="dropdown-menu" aria-labelledby="navbarDropdown")
      a(href=`catalogo.html`).itemsMenu__dropdown.dropdown-item.text-capitalize catalogo
      a(href=`camaras.html`).itemsMenu__dropdown.dropdown-item.text-capitalize camaras de seguridad
      a(href=`sensores.html`).itemsMenu__dropdown.dropdown-item.text-capitalize sensores
      a(href=`enchufes.html`).itemsMenu__dropdown.dropdown-item.text-capitalize enchufe inteligentes
      a(href=`bombillo.html`).itemsMenu__dropdown.dropdown-item.text-capitalize bombillos inteligentes
      a(href=`#`).itemsMenu__dropdown.dropdown-item.text-capitalize accesorios