mixin ItemsDropdown
  li.nav-item.dropdown 
    a.text-capitalize(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").nav-link.dropdown-toggle#navbarDropdown Productos
    div(class="dropdown-menu" aria-labelledby="navbarDropdown")
      a(href=`#`).dropdown-item.text-capitalize producto 1
      a(href=`#`).dropdown-item.text-capitalize producto 2