mixin ModalProduct
  +ModalCam('wyzeCam','cam-white/wyze_cam_mounted.jpg')
  +ModalCam('wyzeCamBlack','cam-black/wyzeCamBlack.png','black','white')
  +ModalCamPam
  +ModalKitSense
  +ModalBombillo
  +ModalEnchufe
  +ModalSD
  +BroadLink
  +Sonoff
  +Breaker
  +SonoffBasic
  +Alexa
  +Teamer
  +Repetidor
  +KitMontajeCompleto
  +KitMontajeBasic
  +ModalEnchufeKMC