mixin ModalProduct
  +ModalCam('wyzeCam','cam-white/wyze_cam_mounted.jpg')
  +ModalCam('wyzeCamBlack','cam-black/wyzeCamBlack.png','black','white')
  +ModalCamPam
  +ModalSenseContact
  +ModalBombillo
  +ModalEnchufe
  +ModalSenseMovimiento
  +ModalSD
  +BroadLink
  +Sonoff
  +Disyuntores