mixin Pagination
  .container
    nav(aria-label="Page navigation example")
      ul.pagination
        li.page-item
          a.page-link(href="#").text-capitalize anterior
        li.page-item
          a.page-link(href="#") 1
        li.page-item
          a.page-link(href="#") 2
        li.page-item
          a.page-link(href="#").text-capitalize siguiente
        