mixin SliderProduct
  .sliderProduct(style="width:100%;")
    img(src="public/img/Cam-white/wyze_cam_front_2.jpg", alt="")
    img(src="public/img/Cam-white/wyze_cam_front.jpg", alt="")
    img(src="public/img/Cam-white/wyze_cam_mounted.jpg", alt="")
    img(src="public/img/Cam-white/wyze_cam_sit_1.jpg", alt="")
    img(src="public/img/Cam-white/wyze_cam_sit_2.jpg", alt="")