*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
// style del body
.body-container{
  overflow-x: hidden;
}
.eje{
  border: 2px solid red;
}

// estilo para el parrafo 
.paragraphContent{
  width: 80%;
}
// icon de carrousel
.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators li{
  background-color: #3c4043!important;
}
//- tabs de los sensores
.tabs-link{
  color: #495057;
  &:hover{
    color: yellowgreen;
  }
}
.nav-tabs .nav-link.active{
  color:white;
  background-color: #495057;
}
.tabsBorder{
  border: .5px solid #dee2e6;
}

// tree
@import "components/tree/treeContainer";
// header
@import "components/itemsMenu";
@import "components/header";
// footer
@import "components/footer";
// style slick
@import "slick/slick";
@import "slick/slick-theme";

// Components
@import "components/scroll-top";
@import "components/itemsTeam";
@import "components/accordionSearchProduct";
@import "components/contact";
@import "components/buscar";
@import "components/catalogo";
@import "components/senseMovim";
@import "components/wyzeCamPam";
@import "components/service";

// Large devices (desktops, less than 1200px) lg
// @media (max-width:'1200px'){

// }
// adatando el logo title al header
@media (max-width:'1199px'){
  .headerContainer{
    &__imgLogo-title{
      width: 170px;
    }
  }
}
// Medium devices (tablets, less than 992px) md
@media (max-width:'991px'){
  .visibleLogo{
    display: block;
  }
  .headerContainer{
    &__navContainer{
      // position: fixed;
      // top: 0;
      width: 100%;
      z-index: 99;
    }
    &__logoBanner{
      left: 20px;
      bottom: 20px;
    }
  }
  .content-search{
    top: 0;
  }
  // .position-search-table{
  //   top: 293px;
  // }
  .content-table{
    width: 80%;
  }
  .contactContainer{
    padding: 50px 0;
    &__subheading {
      margin-bottom: 40px;
    }
  }
  .footerContainer{
    &__title{
      text-align: center;
      padding-bottom: 10px;
      background: {
        size: 100% 3px;
      };
    }
  }
  .sectionContainer,
  .service{
    margin-top: 5rem;
  }
  .showContainer{
    &__title{
      margin-top: 3.5rem;
    }
  }
  
}
// Small devices (landscape phones, less than 767.9px) sm

@media (max-width:'767px'){
  .paragraphContent{
    width: 100%;
    background-image: url('public/img/enchufe/fondoColor');
  }
}
// Extra small devices (portrait phones, less than 576px) xs
@media (max-width:'576px'){
  .service{
    &__title{
      font-size: 2.5rem;
      background: {
        size: 70% 3px;
      };
    }
    &__subtitle{
      text-align: center;
    }
  }
}