mixin ModalEnchufeKMC
  .modal.fade(id="enchufeKmc" tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-scrollable.modal-xl( role="document")
      .modal-content
        .modal-header
          h1.display-6.modal-title.text-capitalize enchufe inteligente KMC
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          .container-fluid
            .row.flex-column-reverse.flex-lg-row
              .col-lg-6.col-12
                h4.text-capitalize.bg-secondary.text-white.p-3 mando a distancia.  
                p.p-3 Usted puede controlar cualquier dispositivo Plug In Dispositivo desde cualquier lugar y mantener un ojo en su energía del uso, utilizando la vida KMC vida o Smart APP (iOS 8 o superior y Android 4.1 o superior)
                h4.text-capitalize.bg-secondary.text-white.p-3 Fácil de usar y de instalar. 
                p.p-3 No requiere Hub, sólo tiene que conectar y conectar, funciona con tu router Wi-Fi. compartir el acceso y permitir que su cónyuge, RoomMates o visitantes acceso a sus dispositivos.
                h4.text-capitalize.bg-secondary.text-white.p-3 Rastrear su uso de la energía. 
                p.p-3 La KMC Smart APP puede rastrear cuánta energía cada dispositivo utiliza, y con qué frecuencia se utiliza.
                h4.text-capitalize.bg-secondary.text-white.p-3 Safe en uso – Carga máxima. 
                p.p-3 10 A, 2400 W. hecha de material ABS FLAME Resitance. un chip sensor térmico integrado se apaga automáticamente el sobrecalentamiento, electrodomésticos, dispone de cifrado. 30 días de devolución de dinero, garantía de dos años y soporte de por vida. notas: después de un corte de energía, ajuste de tomacorrientes conservarán su más reciente para ahorrar energía.
              .col-lg-6.col-12.align-self-center
                img(src=`public/img/enchufe/enchufeKmc2.jpg`, alt="").w-100
        .modal-footer
          button.btn.btn-secondary.text-capitalize(type="button"  data-dismiss="modal") cerrar
          a.btn.btn-primary(href=`enchufeKMC.html`) ver mas 