mixin BroadLink
  .modal.fade(id="ctrlBroadLink" tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-scrollable.modal-xl(role="document")
      .modal-content
        .modal-header
          div
            h1.modal-title.text-capitalize Controlador Universal Broadlink RM Pro Smart
            p Automatización del hogar WiFi+IR+RF+4G para iOS y Android
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          .container-fluid
            .row.flex-column-reverse.flex-lg-row
              .col-lg-6.col-12
                h4.text-capitalize.bg-secondary.text-white.p-3 compatibilidad
                p.p-3 Admite dispositivos controlados por IR (38KHz) como TV, caja de configuración, A / C, grabadora de video personal, DVD, receptor y dispositivos controlados por RF (433MHz) como cortinas / cortinas de motor e interruptor de luz. No funciona con Bluetooth.
                h4.text-capitalize.bg-secondary.text-white.p-3 Control de aplicaciones
                p.p-3 Controle los dispositivos con la aplicación IHC en cualquier lugar y en cualquier momento. Configure temporizadores para encender / apagar dispositivos en un momento específico o personalizar escenas con múltiples dispositivos. Convierta sus dispositivos domésticos básicos en dispositivos inteligentes y haga la vida más inteligente y más conveniente.
                h4.text-capitalize.bg-secondary.text-white.p-3 Control de voz
                p.p-3 Compatible con Alexa para controlar por voz su TV / STB; Para aire acondicionado, lámparas, motor de cortina y ventiladores, puede pedirle a Alexa que los encienda / apague. Compatible con Google Home para controlar por voz su aire acondicionado y lámparas solo encendido / apagado.
                h4.text-capitalize.bg-secondary.text-white.p-3 Fácil de aprender
                p.p-3 Coincidencia automática con más de 50,000 dispositivos para la mayoría de las marcas y modelos famosos y una creciente base de datos IR / RF todos los días en la nube. Apoye el aprendizaje manual y cree una plantilla remota personalizada.
              .col-lg-6.col-12.align-self-center
                img(src=`public/img/accesorios/broadLink.png`, alt="").w-100
        .modal-footer
          button.btn.btn-secondary.text-capitalize(type="button"  data-dismiss="modal") cerrar