mixin Disyuntores
  .modal.fade(id="disyuntores" tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-scrollable.modal-xl(role="document")
      .modal-content
        .modal-header
          div
            h1.modal-title.text-capitalize Disyuntores de circuito inteligente
            p WiFi MCB compatibles con Alexa
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          .container-fluid
            .row.flex-column-reverse.flex-lg-row
              .col-lg-6.col-12
                h4.text-capitalize.bg-secondary.text-white.p-3 Todos tus electrodomésticos sean inteligentes
                p.p-3 Los interruptores de circuito Wifi CNZJSC hacen que todos tus electrodomésticos sean inteligentes, siempre y cuando tu teléfono tenga red, puedes encender o apagar tus electrodomésticos de forma remota desde cualquier lugar en cualquier momento. Y al establecer horarios para tus electrodomésticos, puedes mantener una vida sin preocupaciones.
                h4.text-capitalize.bg-secondary.text-white.p-3 controlar tus dispositivos fácilmente.
                p.p-3 Descarge la aplicación eWeLink desde Google Play. Hay una clave para compartir la función y puedes controlar un interruptor con tus familiares o amigos al mismo tiempo mediante el interruptor de sonoff.Este dispositivo puede funcionar con Google Nest y Alexa 
                h4.text-capitalize.bg-secondary.text-white.p-3 encendido o apagado
                p.p-3 Mando a distancia para teléfono móvil, retroalimentación en tiempo real del estado actual del dispositivo eléctrico (encendido o apagado), configuración de tiempo de encendido y apagado automático, wifi y teléfonos móviles se pueden manipular, conveniente, mientras se mantienen los botones de control manual.
              .col-lg-6.col-12.align-self-center
                img(src=`public/img/accesorios/disyuntores.jpg`, alt="").w-100
        .modal-footer
          button.btn.btn-secondary.text-capitalize(type="button"  data-dismiss="modal") cerrar