mixin ModalKitSense
  .modal.fade(id="kitSense" tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-scrollable.modal-xl( role="document")
      .modal-content
        .modal-header
          h1.display-6.modal-title.text-capitalize sensor de contacto
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          .container-fluid
            .row.flex-column-reverse.flex-lg-row
              .col-lg-6.col-12
                h4.text-capitalize.bg-secondary.text-white.p-3 Automatiza tus luces
                p.p-3 Uselo para controlar las luces según el movimiento o la apertura / cierre de una puerta. 
                h4.text-capitalize.bg-secondary.text-white.p-3 recibe notificaciones cuando dejes algo abierto 
                p.p-3 No tiene que recibir una notificación cada vez que algo se abre o se cierra. Configure Wyze Sense para que solo le envíe una notificación cuando algo esté abierto más tiempo del que debería.
                h4.text-capitalize.bg-secondary.text-white.p-3 saber cuando sucedió
                p.p-3 Vea el estado actual y el historial de sus sensores directamente en la aplicación Wyze. Los detalles de apertura / cierre y los eventos de movimiento se registran y almacenan durante 14 días
                h4.text-capitalize.bg-secondary.text-white.p-3 Véalo con Camaras de seguridad inteligente
                p.p-3 No solo sepa que su sensor se activó, vea exactamente qué lo activó. Configure cualquiera (o todas) de sus camaras de seguridad inteligentes para grabar un video cuando se active un sensor para capturar la acción desde todos los ángulos.
              .col-lg-6.col-12.align-self-center
                img(src=`public/img/sensor/kidsensor.png`, alt="").w-100
        .modal-footer
          button.btn.btn-secondary.text-capitalize(type="button"  data-dismiss="modal") cerrar
          a.btn.btn-primary(href=`sensores.html`) ver mas sensores